.header {
  background-color: #353535 !important;
}

#js-pjax-container, .input-block {
  background-color: #505050 !important;
}

.mini-repo-list-item {
  background-color: #353535 !important;
  border-top: 1px solid black !important;
}

body {
  background-color: #353535 !important;
}

h3 {
  color: rgba(255,255,255,0.75);
}

.boxed-group>h3 {
  background-color: #353535 !important;
}

.more-repos-link {
  background-color: #353535 !important;
  border-top: 1px solid black;
}

.ajax-pagination-btn {
  background-color: #353535 !important;
}

.title {
  color: #bbb !important;
}

span, a, p {
  /*color: #98D7D5 !important;*/
  color: white !important;
}

.js-selected-navagation-item {
  color: #bbb !important;
}

button {
  color: black !important;
}

.select-menu-item, .select-menu-header, .js-menu-target, .dropdown-menu {
  background-color: #353535 !important;
}

.filter-repos {
  background-color: #353535 !important;
}

.message {
  border: 1px solid #bbb !important;
}
